---
http_interactions:
- request:
    method: get
    uri: https://marinersinnonline.myshopify.com/admin/webhooks.json?limit=50&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - bdef681ecc9170eae84f008db27d6681
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Shopid:
      - '5963473'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '166773'
      X-Stats-Apipermissionid:
      - '7503229'
      X-Served-With:
      - ZX_Spectrum/1997 (Sinclair_BASIC)
    body:
      encoding: UTF-8
      string: "{\"webhooks\":[{\"address\":\"http://www.vchallenge.co/webhooks/orders/create\",\"created_at\":\"2014-07-28T23:15:56-07:00\",\"fields\":[],\"format\":\"json\",\"id\":6572435,\"metafield_namespaces\":[],\"topic\":\"orders/create\",\"updated_at\":\"2014-07-28T23:15:56-07:00\"},{\"address\":\"http://www.vchallenge.co/webhooks/customers/create\",\"created_at\":\"2014-07-28T23:15:56-07:00\",\"fields\":[],\"format\":\"json\",\"id\":6572439,\"metafield_namespaces\":[],\"topic\":\"customers/create\",\"updated_at\":\"2014-07-28T23:15:56-07:00\"}]}"
  recorded_at: Fri, 26 Sep 2014 22:32:51 GMT
recorded_with: VCR 2.9.0
