---
http_interactions:
- request:
    method: get
    uri: https://marinersinnonline.myshopify.com/admin/customers.json?limit=50&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - bdef681ecc9170eae84f008db27d6681
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Shopid:
      - '5963473'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '166773'
      X-Stats-Apipermissionid:
      - '7503229'
      X-Served-With:
      - ZX_Spectrum/1997 (Sinclair_BASIC)
    body:
      encoding: UTF-8
      string: "{\"customers\":[{\"accepts_marketing\":false,\"created_at\":\"2014-09-18T17:12:27-07:00\",\"email\":\"sallyn313@gmail.com\",\"first_name\":\"Sally\",\"id\":309591383,\"last_name\":\"Noble\",\"last_order_id\":null,\"multipass_identifier\":null,\"note\":null,\"orders_count\":0,\"state\":\"disabled\",\"total_spent\":\"0.00\",\"updated_at\":\"2014-09-18T17:12:27-07:00\",\"verified_email\":true,\"tags\":\"\",\"last_order_name\":null,\"default_address\":{\"address1\":\"2426
        Nelson ave\",\"address2\":\"\",\"city\":\"West vancouver\",\"company\":\"\",\"country\":\"Canada\",\"first_name\":\"Sally\",\"id\":374858579,\"last_name\":\"Noble\",\"phone\":\"6049254594\",\"province\":\"British
        Columbia\",\"zip\":\"V7V 2R4\",\"name\":\"Sally Noble\",\"province_code\":\"BC\",\"country_code\":\"CA\",\"country_name\":\"Canada\",\"default\":true},\"addresses\":[{\"address1\":\"2426
        Nelson ave\",\"address2\":\"\",\"city\":\"West vancouver\",\"company\":\"\",\"country\":\"Canada\",\"first_name\":\"Sally\",\"id\":374858579,\"last_name\":\"Noble\",\"phone\":\"6049254594\",\"province\":\"British
        Columbia\",\"zip\":\"V7V 2R4\",\"name\":\"Sally Noble\",\"province_code\":\"BC\",\"country_code\":\"CA\",\"country_name\":\"Canada\",\"default\":true}]},{\"accepts_marketing\":false,\"created_at\":\"2014-08-26T20:40:14-07:00\",\"email\":\"rjdeed@sha[...]
