---
http_interactions:
- request:
    method: get
    uri: https://marinersinnonline.myshopify.com/admin/customers.json?limit=5&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - bdef681ecc9170eae84f008db27d6681
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Shopid:
      - '5963473'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '166773'
      X-Stats-Apipermissionid:
      - '7503229'
      X-Served-With:
      - ZX_Spectrum/1997 (Sinclair_BASIC)
    body:
      encoding: UTF-8
      string: "{\"customers\":[{\"accepts_marketing\":true,\"created_at\":\"2014-08-06T20:10:23-07:00\",\"email\":\"kelalee@hotmail.com\",\"first_name\":\"Kelly\",\"id\":252251887,\"last_name\":\"Lee\",\"last_order_id\":263905267,\"multipass_identifier\":null,\"note\":null,\"orders_count\":1,\"state\":\"disabled\",\"total_spent\":\"31.36\",\"updated_at\":\"2014-08-09T12:16:14-07:00\",\"verified_email\":true,\"tags\":\"\",\"last_order_name\":\"#1002\",\"default_address\":{\"address1\":\"122
        Monte Vista Court\",\"address2\":\"\",\"city\":\"North Vancouver\",\"company\":\"\",\"country\":\"Canada\",\"first_name\":\"Kelly\",\"id\":308944483,\"last_name\":\"Lee\",\"phone\":\"\",\"province\":\"British
        Columbia\",\"zip\":\"v7n4n1\",\"name\":\"Kelly Lee\",\"province_code\":\"BC\",\"country_code\":\"CA\",\"country_name\":\"Canada\",\"default\":true},\"addresses\":[{\"address1\":\"122
        Monte Vista Court\",\"address2\":\"\",\"city\":\"North Vancouver\",\"company\":\"\",\"country\":\"Canada\",\"first_name\":\"Kelly\",\"id\":308944483,\"last_name\":\"Lee\",\"phone\":\"\",\"province\":\"British
        Columbia\",\"zip\":\"v7n4n1\",\"name\":\"Kelly Lee\",\"province_code\":\"BC\",\"country_code\":\"CA\",\"country_name\":\"Canada\",\"default\":true}]},{\"accepts_marketing\":false,\"created_at\":\"2014-07-31T16:40:39-07:00\",\"email\":\"michelle.goodwin@g[...]
