---
http_interactions:
- request:
    method: get
    uri: https://shoes-for-humanity.myshopify.com/admin/application_charges/693137.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 2c0887bb02f475d7887c6d613ff1b337
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Shopid:
      - '6497707'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '331927'
      X-Stats-Apipermissionid:
      - '8371109'
      X-Served-With:
      - ZX_Spectrum/1997 (Sinclair_BASIC)
    body:
      encoding: UTF-8
      string: '{"application_charge":{"api_client_id":331927,"created_at":"2014-12-10T14:48:28-05:00","id":693137,"name":"VentureChallenge
        Fee","price":"50.00","return_url":"http://app.lvh.me:3000/shop_confirmation_callback","status":"active","test":true,"updated_at":"2014-12-10T14:58:21-05:00","charge_type":null,"decorated_return_url":"http://app.lvh.me:3000/shop_confirmation_callback?charge_id=693137"}}'
  recorded_at: Wed, 10 Dec 2014 20:04:23 GMT
recorded_with: VCR 2.9.0
