.panel.panel-video.text-center
  h6.panel-video-header = title
  .flex-video
    iframe[src="#{src}" data-video="#{title}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen]